<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About US</title>
</head>
<body style="background-color:lightcoral;font-size:100%;">
<h1 style="font-family:algerian;text-align:left;">About US...</h1>
<p style="text-align:right;"><a href="contact.html">Contact</a>
<a href="details.html">Details</a>
</p>
<p>A turnkey Orange County digital marketing agency
Founded in 2012, The Lorem Ipsum Company develops effective content, SEO, web and social media strategies for forward-thinking companies. We are based in Orange County, California with a satellite office in Santa Barbara, California. We have a proven track record in building unique, quality content and increasing search engine rankings.
Lorem Ipsum refers to text that writers and graphic designers use as a placeholder when the real text is not available. Common names for Lorem Ipsum text include blind text, dummy text, greeked text.
</p>
</body>
</html>