<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
<body style="background-color:lightcoral;font-size:100%;">
<h1 style="font-family:algerian;text-align:left;">Contact US...</h1>
<p style="text-align:right;"><a href="contact.html">Details</a>
<a href="details.html">About</a>
</p>
<h2> Lorem Ipsum</h2>
<h4> +1 (949) 354-2574</h4>
<h4>MON–FRI 9AM–5PM</h4>
<h3> Address: </h3>
26985 Brighton Lane,
<br>Lake Forest, CA 92630
<br>Our office is open:
<br>Mon to Fri from 9 a.m. to 5 p.m.
<br>Privacy Policy and Terms of Service
</body>
</html>